

.image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto 1em;
}

#wrapper {
    width: 80%;
    margin: 0 auto; 
    background-color: #ffffff;
}

.resume-page {
    background-color: #FEE4AE;
}

.resume-page #wrapper {
    background-color: #FEE4AE;
}