

.image {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 1em auto 1em;
}

#wrapper {
    width: 80%;
    margin: 0 auto; 
    background-color: #FEE4AE;
}

.resume-page {
    background-color: #FEE4AE;
}

body {
    background-color: #FEE4AE;
}

.about {
    text-align: center;
    background-color: #FEEBC2;
    padding: 1em;
}

.lists {
    background-color: #FEEBC2;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 0.5em;         
}

nav ul li a {
    display: block;     
    padding: 0.5em 1em;       
    background-color: #FF1F40; 
    color: black;           
    text-decoration: none;     
    font-weight: bold;
}