/* John Espinosa, May 8th */

#wrapper {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

body {
    font-size: 1em;
     background-color: #C4BEBB;
     color: #272929;
}

nav {
    margin-bottom: 60px;
}

nav a {
    background-color: #9A2257;
    color: #C4BEBB;
    border-radius: 20px;
    padding: 8px 14px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
    margin-top: -12px;
}

.bottomnav {
    margin-top: 5em;
}

h1 {
    font-size: 3em;
    color: #494786;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

p {
    font-size: 1em;
}

.subtitle {
    margin-top: -1.25em;
    font-size: 1.25em;
}

.intro {
    text-indent: 3em;
    text-align: justify;
    
}

img:target {
    border: 3px solid #9A2257;
    outline: 3px solid #9A2257;
}

#content {
    display: flex;
}

#gallery img {
    width: 25%;
    margin-left: 9em;
    margin-top: 5em;
}

.gameboy {
    display: flex;
    align-items: center;
}

.gameboy p {
    margin-left: 200px;
    margin-right: 9em;
}

@media (min-width: 768px) {
    #wrapper {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    #wrapper {
        width: 80%;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.formsection {
    margin-bottom: 1em;
    width: 100%;
}

input[type="text"],
textarea,
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #272929;
    background-color: #C4BEBB;
    width: 100%;
}

input[type="submit"],
input[type="reset"] {
    background-color: #9A2257;
    color: #C4BEBB;
    border: none;
    border-radius: 20px;
    padding: 10px 70px;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
}

.buttons {
    display: flex;
    gap: 8px;
    width: 100%;
}

.boxart {
    display: flex;
    gap: 10px;
}

.boxart img {
    width: 20%;
    margin-top: 2em;
}

.mario {
    float: right;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
}

.credits {
    width: 20%;
    display: block;
    margin: 0 auto;
}