img:target {
    border: 3px solid rgb(255, 0, 0);
    outline: 3px solid rgb(255, 0, 0);
}

#gallery {
    text-align: center;
}

#gallery img {
    width: 25%;
}

.game-boy {
    text-align: center;
}