#wrapper {
    width: 80%;
    margin: 0 auto;
}

body {
    font-size: 1em;
     background-color: #C4BEBB;
     color: #272929;
}


nav a {
    background-color: #9A2257;
    color: #C4BEBB;
    border-radius: 20px;
    padding: 8px 14px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
    margin-top: -12px;
}

h1 {
    font-size: 3em;
    color: #494786;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}






img:target {
    border: 3px solid rgb(255, 0, 0);
    outline: 3px solid rgb(255, 0, 0);
}

#gallery {
    text-align: center;
}

#gallery img {
    width: 25%;
}

.game-boy {
    text-align: center;
}

@media (min-width: 768px) {
    #wrapper {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    #wrapper {
        width: 80%;
    }
}